header {
  height: 520px;
  padding-top: 120px;
  width: 100%; 
  background-color: #a3b0db;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-avatar{
 margin-top: 10px;
}

.header-name{
  margin-top: 5px;
}