header {
  height: 520px;
  padding-top: 120px;
  width: 100%; 
  background-color: #10bb99a8;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.header-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-name{
  display: flex;
  align-items: center;
  justify-content: center;
}