nav {
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  background-color: #4056A1;
  font-size: 24px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;

}

.nav-left {
  display: flex;
  font-family: "Bungee", sans-serif;
  font-size: 40px;
}

.nav-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 0.5em;
}

.nav-right i {
  color: red;
}

