nav {
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  background-color: #a3b0db;
  font-size: 24px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-left {
  display: flex;
  font-family: "Bungee", sans-serif;
  font-size: 40px;
}

.nav-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 0.5em;
}

.nav-right i {
  color: #56a140
}

.fa-solid.fa-angles-down {
  transition: transform 0.3s ease-in-out;
}

.fa-solid.fa-angles-down:hover {
  transform: translateY(5px);
  color: #FFFFFF;
}

@media only screen and (width >=1024px) {
  nav {
    background-color: #4056A1;
  }
}