.tweet-text {
background-color: inherit;
width: 100%;
border: 0;
}

.border {
  border-top: 3px solid ;
  position: relative;
  top: -1rem;
}

.submit-button, .counter {
  font-family: "Bungee", sans-serif;
}

.counter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  top: -1rem
} 

.submit-button {
  display: flex;
  background-color: #4056A1;
  color: #FFFFFF;
  border-color: #4056A1;
  top: 1rem;
  position: relative;
}

